/* reset by javazz */

html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,
th,td,form,fieldset,legend,input,button,textarea,menu {
  margin: 0;
  padding: 0;
}

header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,body,fieldset,img,iframe,abbr {
  border: 0;
}

li {
  list-style: none;
}

a,button {
  cursor: pointer;
  color: inherit;
}

h1,h2,h3,h4,h5,h6,em,strong,b {
  font-weight: bold;
}

del,ins,u,s,a,a:hover {
  text-decoration: none;
}

input:focus, button:focus {
    outline: none;
}

// /* 去除input=number的箭头 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 


