$namespace: "zz-" !default;
// 背景颜色
$color-blue-deep:#0366c1; // 蓝色-深背景
$color-blue-light:#67b1e3; // 蓝色-淡背景
$color-red:#ff0000; // 红色
$color-red-light:#e92247; // 红色-浅背景
$color-gray:#aaaaaa; // 灰色
$color-gray-light:#cccccc; // 灰色-浅背景
$color-gray-deep:#6e6e6e; // 灰色-深背景

// 字颜色
$color:#999999; // 主要颜色
$color-b: #333333;  // 加粗颜色

// $size-title:14px; // 标题(头部，不限)
//字号
$size-head: 30px; // 头部医院名,口号
$size-plate-title:18px; // 栏目标题（如，热门头条）
$size-plate-li:16px; // 栏目标题（如，热门头条）
$size-title:14px; // 内容标题
$size: 12px; // 内容主字号

// 下划线
$border: 1px solid $color-gray-light; // 标准浅灰色下划线

// 长度
$width:1140px; // 默认宽度